body {
}
body {
}

.h2t_img_SMN_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}
.h2t_img_SMN_header ul{
    padding-top:400px;
}
    .h2t_img_SMN_header a:hover {
       color:red;
    }

.h2t_img_ATN_header {
    background: url(../images/atn-h2t.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}
.h2t_img_ATN_header ul{
    padding-top:400px;
}
.h2t_img_ATN_header a li{
    color:black !important;
}
.h2t_img_ATN_header a:hover{
    color:red;
}

.h2t_img_APN_header {
    background: url(../images/apn-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
   min-height:500px;
    padding-top:50px;
   
}
.h2t_img_APN_header ul{
    padding-top:400px;
}
.h2t_img_APN_header a{
    color:black !important;
} .h2t_img_APN_header a:hover {
        color: red !important;
    }
.h2t_img_APN_header li{ 
    color:black !important ;
}

.h2t_img_GDN_header {
    background: url(../images/gdn-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

.h2t_img_VDN_header {
    background: url(../images/vdn-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 400px;
    padding-top: 50px;
}
.h2t_img_VDN_header ul  {
   
    padding-top:300px;
}
.h2t_img_VDN_header li{
    color:red !important;
} .h2t_img_VDN_header a:hover {
        color: red;
    }

.h2t_img_TLN_header {
    background: url(../images/tln-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 400px;
    padding-top: 50px;
}
.h2t_img_TLN_header ul{
    padding-top:300px;
}

.h2t_img_BLN_header {
    background: url(../images/bln-h2t.PNG) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}
.h2t_img_BLN_header ul{
    padding-top:400px;
}
.h2t_img_BLN_header li{
    color:black !important;
}
.h2t_img_BLN_header a:hover{
    color:red;
}
.h2t_img_SMNU_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

.h2t_img_TXN_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

.h2t_img_GN_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}
.tag {
    display: block;
}

.taglist li {
   
    float: left;
    display:inline;
}
.taglist a{
    color:black;
}
.taglist a:hover{
    color: red;
}
.cart-h2t {
    color: #fa7f0a;
    padding-right: 0;
    position: relative;
    display: inline-block;
}
.icon-cart-h2t {
    width: 44px;
    height: 40px;
    background-image: url(../images/sprite.png);
    background-position: -32px 0;
    background-repeat: no-repeat;
}
 .cart-h2t .count_shopping_cart_store {
    position: absolute;
    background: #e00;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 13px;
    left: 9px;
    font-weight: bold;
    top: 0;
}