body {
}
.star{
    color:red;
}
.toRegister p:hover{
    text-decoration:underline;
    color:red;
}
.news_conten_left {
    width: 35%;
    height: 100%;
    float: left
}

.news_content_right {
    float: left;
    width:65%;
    height:100%;
    padding: 15px;
    font-family:'Times New Roman';
    background: #efe2e2;
    transition-delay: 2s;
}

.news-div {
    position: relative;
    width: 200px;
    height: 200px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.news-div:hover .overlay {
    height: 100%;
}

.news-description {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.news-img {
    width: 200px;
    height: 150px;
    z-index: 1;
}

    .news-img :hover {
        width: 200px;
        height: 150px;
        z-index: 1;
    }

label#countItem {
    position: absolute;
    background: red;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    margin-top: -14px;
    margin-left: -7px;
    width: 20px;
}

.search-menu-big {
    float: right;
    padding-right: 350px;
}

.search-menu-small {
    float: right;
    padding-right: 200px;
}

.search-close {
    color: red;
    float: right;
    padding-right: 210px;
    cursor: pointer;
    z-index: 99;
}

    .search-close a:hover {
        color: aqua;
    }

.search-hide {
    position: fixed;
    top: 15%;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    transform: scale(0.3);
    z-index: 3;
}

.search-show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.load {
    width: 100%;
    height: 100%;
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: block;
    overflow: hidden
}

    .load img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -120px;
        margin-left: -120px;
    }

.bottotop {
    animation: dituduoilen 1.3s forwards;
}

@-webkit-keyframes dituduoilen {
    0% {
        transform: translateY(350px);
        opacity: 0
    }

    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

.bottotop:nth-child(1) {
    animation-delay: 0.1s
}

.bottotop:nth-child(2) {
    animation-delay: 0.2s
}

.bottotop:nth-child(3) {
    animation-delay: 0.3s
}

.bottotop:nth-child(4) {
    animation-delay: 0.4s
}

.bottotop:nth-child(5) {
    animation-delay: 0.5s
}

.bottotop:nth-child(6) {
    animation-delay: 0.6s
}

.bottotop:nth-child(7) {
    animation-delay: 0.7s
}

.bottotop:nth-child(8) {
    animation-delay: 0.8s
}

.bottotop:nth-child(9) {
    animation-delay: 0.9s
}

.bottotop:nth-child(10) {
    animation-delay: 1s
}

.bottotop:nth-child(11) {
    animation-delay: 1.1s
}

.bottotop:nth-child(12) {
    animation-delay: 1.2s
}

.bottotop:nth-child(13) {
    animation-delay: 1.3s
}

.bottotop:nth-child(14) {
    animation-delay: 1.4s
}

.bottotop:nth-child(15) {
    animation-delay: 1.5s
}

.bottotop:nth-child(16) {
    animation-delay: 1.6s
}

.bottotop:nth-child(17) {
    animation-delay: 1.7s
}

.bottotop:nth-child(18) {
    animation-delay: 1.8s
}

.bottotop:nth-child(19) {
    animation-delay: 1.9s
}

.bottotop:nth-child(20) {
    animation-delay: 2s
}

.text-login {
    float: right;
    padding-right: 80px;
}

    .text-login a {
        color: white;
    }

.text-logout {
    color: white;
    float: right;
    padding-right: 50px;
    padding-top: 10px;
}

.text-login a:hover {
    text-shadow: 2px 2px red;
    text-decoration: underline !important;
}

.caret-custom {
    margin-left: 5px;
    background-image: url(../images/arrow.png);
}

.menu-custom li a:hover, .dropdown-custom:hover .dropbtn {
    background-color: red;
  
}

.menu-small li a:hover, .dropdown-custom:hover .dropbtn {
    background-color: red;
}

.menu-custom li.dropdown-custom {
    display: inline-block;
}

.menu-small li.dropdown-custom {
    display: inline-block;
}

.dropdown-content-custom {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content-custom a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        width: 100% !important
    }

        .dropdown-content-custom a:hover {
            background-color: #f1f1f1;
        }

.dropdown-custom:hover .dropdown-content-custom {
    display: block;
}

.menu-custom li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 
}

.menu-small li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
    font-family: 'Ink Free';
}

.menu-custom ul {
    list-style-type: none;
    margin: 0;
    padding-left: 220px;
    overflow: hidden;
    background-color: #333;
}

.menu-small ul {
    list-style-type: none;
    margin: 0;
    /*padding-left: 250px;*/
    overflow: hidden;
    background-color: #333;
}

.menu-custom li {
    float: left;
   
}

.menu-custom {
    background: #3e3131;
    width: 100%;
    height: 45px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}

.menu-small li {
    float: left
}

.menu-small {
    background: #3e3131;
    width: 53%;
    height: 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    margin: auto;
}

.top-header {
    height: 30px;
}

.header-custom .user-nav .item.cart {
    color: #fa7f0a;
    padding-right: 0;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 40px;
    background: url('../images/cart-32-32 .ico') no-repeat;
}

.header-custom .user-nav {
    float: right;
    color: #f9f8fe;
    padding-top: 33px;
    padding-right: 250px;
    width: 50px;
    height: 40px;
}

.header-custom .search-form .submit-search {
    border: 0;
    width: 109px;
    height: 40px;
    color: #fff;
    padding: 3px 0 0 4px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/bg-search-submit.png) no-repeat -6px 0px;
}

.header-custom .search-form .input-search {
    color: rgba(33, 31, 34, 0.5);
    width: 100%;
    height: 40px;
    border: 0;
    padding-left: 20px;
    outline: none;
    vertical-align: middle;
}

.header-custom .search-form {
    float: left;
    width: 561px;
    margin: 30px 0 29px;
    position: relative;
    box-sizing: border-box;
}

.header-custom .logo {
    float: left;
    margin-top: 30px;
    margin-right: 134px;
    color: white;
    font-family: 'Ink Free';
    text-shadow: 5px 2px red;
    font-size: 43px;
    text-decoration: underline;
    transform: rotate(-12deg) !important;
}

    .header-custom .logo a:hover {
        text-shadow: 5px 2px green;
        font-size: 46px;
        transform: rotate(-14deg) !important;
    }

.header-custom {
    background: #211f22;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 130px;
}

.categories .image {
    float: left;
    background-color: #ccc;
    width: 520px;
    height: 500px;
    box-sizing: border-box;
    display: inline-block
}

.categories .video {
    background-image: url(../images/bg-video.jpg);
    display: inline-block;
    padding: 18px;
    box-sizing: border-box;
    float: left;
}

.categories .container {
    display: flex;
}

.container-custom {
    padding: 0;
    width: 1200px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.categories {
    background-image: url(../images/bg-categories3.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 40px;
    overflow: hidden;
    display: block;
}

.ytfooter {
    color: aqua;
    float: left;
}

    .ytfooter h5:hover {
        color: red;
    }

banner_bottom_agile_info-h2t {
    background-color: dimgrey;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 450px;
}

.sale-w3ls-h2t-top {
    background: url(../images/top-bg-h2t.jpg)no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 550px;
}

.sale-w3ls-h2t-center {
    background: url(../images/bg-center-ht2.jpg)no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 550px;
}

.sale-w3ls-h2t-bot {
    background: url(../images/bg-bot-h2t.jpg)no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 550px;
}

.h2t_img_SMN_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

    .h2t_img_SMN_header ul {
        padding-top: 400px;
    }

    .h2t_img_SMN_header a:hover {
        color: red;
    }

.h2t_img_ATN_header {
    background: url(../images/atn-h2t.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

    .h2t_img_ATN_header ul {
        padding-top: 400px;
    }

    .h2t_img_ATN_header a li {
        color: black !important;
    }

    .h2t_img_ATN_header a:hover {
        color: red;
    }

.h2t_img_APN_header {
    background: url(../images/apn-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

    .h2t_img_APN_header ul {
        padding-top: 400px;
    }

    .h2t_img_APN_header a {
        color: black !important;
    }

        .h2t_img_APN_header a:hover {
            color: red !important;
        }

    .h2t_img_APN_header li {
        color: black !important;
    }

.h2t_img_GDN_header {
    background: url(../images/gdn-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

.h2t_img_VDN_header {
    background: url(../images/vdn-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 400px;
    padding-top: 50px;
}

    .h2t_img_VDN_header ul {
        padding-top: 300px;
    }

    .h2t_img_VDN_header li {
        color: red !important;
    }

    .h2t_img_VDN_header a:hover {
        color: red;
    }

.h2t_img_TLN_header {
    background: url(../images/tln-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 400px;
    padding-top: 50px;
}

    .h2t_img_TLN_header ul {
        padding-top: 300px;
    }

.h2t_img_BLN_header {
    background: url(../images/bln-h2t.PNG) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

    .h2t_img_BLN_header ul {
        padding-top: 400px;
    }

    .h2t_img_BLN_header li {
        color: black !important;
    }

    .h2t_img_BLN_header a:hover {
        color: red;
    }

.h2t_img_SMNU_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

.h2t_img_TXN_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

.h2t_img_Cart_header {
    background: url(../images/bg-bot-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

    .h2t_img_Cart_header ul {
        padding-top: 400px;
    }

    .h2t_img_Cart_header a:hover {
        color: red !important;
    }

    .h2t_img_Cart_header li {
        color: snow !important;
    }

.h2t_img_GN_header {
    background: url(../images/sm-h2t.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;
    padding-top: 50px;
}

.tag {
    display: block;
}

.taglist li {
    float: left;
    display: inline;
}

.taglist a {
    color: black;
}

    .taglist a:hover {
        color: red;
    }

.top_nav_right_h2t {
    float: right;
    width: 40px;
}

.cart_table {
    padding: 20px 100px;
}

.contact-form-cart input[type="text"] {
    padding: 10px;
    width: 95%;
    color: #9198A3;
    font: 300 16px/25px Lato, sans-serif;
    background: #fff;
    outline: none;
    display: block;
    border: 1px solid #eee;
    border-color: aquamarine;
}

.contact-form-cart textarea {
    padding: 10px;
    display: block;
    width: 95%;
    background: #fff;
    border: 1px solid #eee;
    outline: none;
    color: #9198A3;
    font: 300 16px/25px Lato, sans-serif;
    -webkit-appearance: none;
    resize: none;
    height: 150px;
    border-color: aquamarine;
}

/*userBox*/
.userBox {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    overflow: hidden;
    z-index: 10000;
    display: none;
}

#user:hover + .userBox {
    display: block;
}


/* menu scroll*/